body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(360deg, #acddb8, #86b58f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container {
    background-color: #ffffff;
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #86b58f;
}

.icon-button {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.icon-button i {
    font-size: 24px;
    color: #86b58f;
    transition: color 0.3s ease;
}

.icon-button:hover i {
    color: #5a8c5f;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo img {
    width: 150px;
    border-radius: 10px;
}

.logo p {
    color: white;
    font-size: 16px;
    margin: 10px 0 0;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: 100%;
}

.grid-item {
    background-color: #bef7c9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.grid-item i {
    font-size: 64px;
    color: #86b58f;
    margin-bottom: 20px;
}

.grid-item span {
    color: #333;
    font-weight: bold;
    font-size: 18px;
}