body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(360deg, #acddb8,#86b58f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    text-align: center;
    padding: 40px;
    border-radius: 8px;
}

.logo img {
    width: 300px;
    border-radius: 10px;
}

p {
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-field {
    display: block;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-button {
    display: block;
    width: 30%;
    padding: 10px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}
